@import '../../styles/chip.scss';

/* ID CHIP */
.cryton-id-chip {
  border-radius: $chip-border-radius;
  width: 200px;
  height: $chip-height;
  display: flex;
  align-items: center;

  .id {
    width: $chip-height;
    height: $chip-height;
    font-weight: 600;
    border-radius: $chip-border-radius;
    color: white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
