.timeline-node-params {
  width: 500px;
}
.stage-params {
  max-height: 600px;
  overflow: auto;
  padding: 0 10px;
}
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
