<h2 mat-dialog-title>Stage parameters</h2>

<mat-dialog-content class="timeline-node-params">
  <div class="cryton-scrollbar stage-params">
    <app-stage-parameters
      #stageParameters
      [nodeManager]="data.stage.parentDepTree.treeNodeManager"
    ></app-stage-parameters>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <app-cryton-button
    value="Save"
    icon="save"
    color="primary"
    (clicked)="save()"
    [disabled]="!stageParameters.valid"
  ></app-cryton-button>
</mat-dialog-actions>
