<div class="header">
  <app-tick-size-picker (tickChange)="timeline.tickSeconds = $event"></app-tick-size-picker>

  <div class="buttons">
    <app-cryton-button value="Help" icon="info" (clicked)="openHelp()"></app-cryton-button>

    <app-cryton-button
      color="primary"
      value="Go back"
      icon="arrow_upward"
      (clicked)="emitSwapPagesEvent()"
    ></app-cryton-button>
  </div>
</div>

<!-- TIMELINE -->
<div class="timeline-wrapper">
  <div class="timeline--menu">
    <button mat-icon-button title="Move vertically">
      <mat-icon (click)="timeline.toolState.flipVerticalMove()" [class.timeline--active]="isVerticalMoveEnabled"
        >swap_vert</mat-icon
      >
    </button>
    <button mat-icon-button title="Move subtree">
      <mat-icon
        style="font-size: 18px"
        (click)="timeline.toolState.flipTreeMove()"
        [class.timeline--active]="isTreeMoveEnabled"
        >share</mat-icon
      >
    </button>
    <button mat-icon-button title="Sort timeline">
      <mat-icon class="white" style="font-size: 18px" (click)="timeline.organizeNodes()">auto_awesome</mat-icon>
    </button>
  </div>

  <div #container id="timeline-container" appNoScroll></div>
</div>
