#timeline-container {
  width: calc(100% - 40px);
  height: 100%;
  overflow: hidden;
}

mat-form-field {
  font-size: 12px;
  width: 170px;
}

.header {
  display: flex;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 10px;
  }
}

.timeline--menu {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.timeline-wrapper {
  display: flex;
  height: 100%;
}
