<header>
  <app-tick-size-picker (tickChange)="timeline.tickSeconds = $event"></app-tick-size-picker>

  <div class="buttons">
    <button mat-button (click)="openHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>
    <button
      mat-button
      *ngFor="let button of navigationButtons"
      (click)="navigateTo(button.componentName)"
      type="button"
    >
      <mat-icon color="primary">{{ button.icon }}</mat-icon
      >{{ ' ' + button.name }}
    </button>
  </div>
</header>

<!-- TIMELINE -->
<div class="timeline-wrapper tc-responsive-container">
  <div class="timeline--menu">
    <button mat-icon-button title="Move vertically" type="button">
      <mat-icon (click)="timeline.toolState.flipVerticalMove()" [class.timeline--active]="isVerticalMoveEnabled"
        >swap_vert</mat-icon
      >
    </button>
    <button mat-icon-button title="Move subgraph" type="button">
      <mat-icon
        style="font-size: 18px"
        (click)="timeline.toolState.flipGraphMove()"
        [class.timeline--active]="isGraphMoveEnabled"
        >share</mat-icon
      >
    </button>
    <button mat-icon-button title="Sort timeline" type="button">
      <mat-icon class="white" style="font-size: 18px" (click)="timeline.organizeNodes()">auto_awesome</mat-icon>
    </button>
  </div>

  <div #container id="timeline-container" appNoScroll></div>
</div>
