<header>
  <h2>Welcome to template creator!</h2>

  <p>
    This page will give you an outline of the process of creating a plan template. Further information can be found in
    help pages for individual creation steps.
  </p>
</header>

<br />

<main>
  <section>
    <h3>1. Create steps</h3>
    <p>
      In this step you create steps in the attack plan which will be later used to create attack stages. You can find
      the attack steps that you create in the next creation step
      <b class="non-breaking">("Create stages" > "Show dependency graph")</b>.
    </p>
  </section>

  <section>
    <h3>2. Create stages</h3>
    <p>
      In this step you create attack stages which will be finally used to put together a plan template. Each stage
      contains a set of steps with some optional dependencies and defines a trigger which controls when the stage will
      start. The trigger can be defined in the stage parameters form. To create a dependency graph navigate to the
      <b class="non-breaking">"Create stages" > "Show dependency graph"</b>. You can find created stages in the next
      step <b class="non-breaking">("Create template" > "Show dependency graph")</b>.
    </p>
  </section>

  <section>
    <h3>3. Create template</h3>
    <p>
      This is the final part of plan template creation, here you can create optional dependencies between the stages and
      edit plan's timeline. After you are happy with the result you can click on <b>"Create template"</b> button which
      will show you the final template's YAML which you can edit before creation.
    </p>
  </section>
</main>
