@import '~@angular/material/theming';

@mixin color($config) {
  $config: mat-get-color-config($config);
  $background: map-get($config, background);

  .graph-node-dispenser--item-dispenser {
    background: map-get($background, background);
  }
}
