<section class="buttons">
  <button mat-button (click)="showHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>
  <button mat-button *ngFor="let button of navigationButtons" (click)="navigateTo(button.componentName)" type="button">
    <mat-icon color="primary">{{ button.icon }}</mat-icon
    >{{ ' ' + button.name }}
  </button>
</section>
<div class="execution-tree-creation">
  <aside>
    <div class="node-dispenser">
      <app-tree-node-dispenser [depTreeRef]="depTreeRef"></app-tree-node-dispenser>
    </div>
  </aside>

  <main>
    <div class="tree-creation tc-responsive-container">
      <div class="execution-tree-editor tc-responsive-container">
        <app-tree-editor-toolbar [depTree]="depTree"></app-tree-editor-toolbar>

        <div class="dependency-tree--canvas-wrapper">
          <div #container id="canvas-container"></div>
        </div>
      </div>
    </div>
  </main>
</div>
