<div class="top-section">
  <app-cryton-button icon="info" value="Help" (clicked)="showHelp()"></app-cryton-button>
  <app-cryton-button
    color="primary"
    value="Go back"
    icon="arrow_upward"
    (clicked)="emitSwapPagesEvent()"
  ></app-cryton-button>
</div>
<div class="execution-tree-creation">
  <aside>
    <div class="node-dispenser">
      <app-tree-node-dispenser [depTreeRef]="depTreeRef"></app-tree-node-dispenser>
    </div>
  </aside>

  <main>
    <div class="tree-creation tc-responsive-container">
      <div class="execution-tree-editor tc-responsive-container">
        <app-tree-editor-toolbar [depTree]="depTree"></app-tree-editor-toolbar>

        <div class="dependency-tree--canvas-wrapper">
          <div #container id="canvas-container"></div>
        </div>
      </div>
    </div>
  </main>
</div>
