@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $warn: map.get($color-config, warn);
  $foreground: map.get($color-config, foreground);

  .section-name:hover,
  .variable-name:hover {
    color: map.get($primary, default);
  }
  .delete-btn {
    &:hover {
      color: map.get($warn, default);
    }
    &:active {
      color: map.get($warn, darker);
    }
  }
  .variable-value {
    color: map.get($foreground, base);
  }
}
