<ng-container
  *ngIf="{
    workers: dataSource.connect() | async,
    loading: dataSource.isLoading() | async,
    count: dataSource.getCount() | async
  } as data"
>
  <section class="workers-dashboard" [hidden]="data.count === 0">
    <!-- HEADER & PAGINATOR -->
    <header [ngClass]="{ 'show-border': !data.loading }">
      <div class="workers-header">
        <div class="header-section">
          <h1>WORKERS</h1>
          <button mat-icon-button color="accent" (click)="refreshData()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <mat-paginator
          id="paginator"
          [hidePageSize]="true"
          [length]="data.count"
          [pageSize]="pageSize"
          [showFirstLastButtons]="true"
        >
        </mat-paginator>
      </div>
      <mat-progress-bar mode="query" class="progress-bar" *ngIf="data.loading"></mat-progress-bar>
    </header>

    <!-- WORKER TABLES -->
    <div class="workers-wrapper" [@renderTrigger]="(dataSource.isLoading() | async) ? 'loading' : 'loaded'">
      <ng-container *ngIf="!(dataSource.isLoading() | async)">
        <div *ngFor="let worker of data.workers" class="worker">
          <app-worker-table [data]="worker"> </app-worker-table>
        </div>
      </ng-container>
    </div>
  </section>
</ng-container>
