@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);

  /* WORKER STATES */
  .worker-table--ready {
    background: map.get($primary, default);
    color: mat.get-color-from-palette($primary, default-contrast);
  }
  .worker-table--ready.aside {
    background: map.get($primary, 700);
    color: mat.get-color-from-palette($primary, 700-contrast);
  }
  .worker-table--down {
    background: map.get($warn, default);
    color: mat.get-color-from-palette($warn, default-contrast);
  }
  .worker-table--down.aside {
    background: map.get($warn, 700);
    color: mat.get-color-from-palette($warn, 700-contrast);
  }
  .worker-table--up {
    background: map.get($accent, default);
    color: mat.get-color-from-palette($accent, default-contrast);
  }
  .worker-table--up.aside {
    background: map.get($accent, 700);
    color: mat.get-color-from-palette($accent, 700-contrast);
  }
}
