/* MAIN */
.cryton-editor {
  display: flex;
  height: 100%;
}

/* STEPS COMPONENT */
.steps-component {
  flex: 4;
  padding-right: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

/* OVERVIEW */
.overview {
  flex: 2;
  padding-left: 20px;
}
.overview-header {
  display: flex;
  justify-content: space-between;
}
.overview-items {
  margin-bottom: 20px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
.overview-item {
  overflow: hidden;

  sup {
    font-size: 14px;
  }
}
.overview-item--name {
  font-size: 11px;
  text-transform: uppercase;
  margin: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.overview-item--data {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.data-cell {
  display: flex;
  border-radius: 5px;
  margin: 5px;
}
.data-cell--content {
  border-radius: 5px;
  padding: 2px 12px;

  &.undefined {
    background: #d8d8d8;
    color: gray;
  }
}
.erase-button {
  margin-left: 10px;
}

/* STEPPER */
.stepper > app-cryton-button:first-child {
  margin-right: 10px;
}

/* CREATING */
.creating {
  height: 100%;
  flex-direction: column;

  h2 {
    margin-top: 10px;
  }
}

/* ERRORS */
.error {
  color: red;
}
