@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);

  .execution-variable-uploader.active {
    border-color: map.get($primary, default);
  }
}
