@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);

  .cryton-datetime-picker--time-picker {
    background: map.get($primary, default);
  }
}
