<!-- TIME PICKER -->
<mat-dialog-content>
  <app-cryton-time-picker (dayChange)="handleDayChange($event)"></app-cryton-time-picker>

  <!-- DATEPICKER CALENDAR -->
  <mat-divider></mat-divider>
  <mat-calendar [selected]="selectedDate" [dateFilter]="filterDates" (selectedChange)="selectDate($event)">
  </mat-calendar>

  <!-- FOOTER -->
  <div class="datetime-picker-footer">
    <div>
      <span *ngIf="this.getDateTime() as datetime" class="selected-datetime">{{ datetime | crytonDatetime }}</span>
    </div>
    <app-cryton-button value="Select" (clicked)="selectDatetime()"></app-cryton-button>
  </div>
</mat-dialog-content>
