/* DATETIME PICKER */
.datetime-picker-footer {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selected-datetime {
  color: gray;
}

/* OTHER */
.mat-icon-button ::ng-deep .mat-button-focus-overlay {
  display: none;
}
