@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $accent: map.get($color-config, accent);

  .cryton-counter--counter {
    background: map.get($accent, default);
    color: mat.get-color-from-palette($accent, default-contrast);
  }
}
