@use '@angular/material' as mat;
@use '../../components/navigation/navigation.theme' as sidenav;
@use '../../modules/shared/components/cryton-card/cryton-card.theme' as cryton-card;
@use '../../modules/worker/components/worker-table/worker-table.theme' as worker-table;
@use '../../modules/shared/components/cryton-counter/cryton-counter.theme' as cryton-counter;
@use '../../modules/shared/components/cryton-editor/cryton-editor.theme' as cryton-editor;
@use '../../modules/shared/components/cryton-table/cryton-table.theme' as cryton-table;
@use '../../components/theme-color-getter/_theme-color-getter.theme.scss' as color-getter;
@use '../../modules/shared/components/cryton-file-uploader/cryton-file-uploader.theme' as file-uploader;
@use '../../modules/shared/components/cryton-datetime-picker/cryton-datetime-picker.theme' as datetime-picker;
@use './cryton-scrollbar.theme' as scrollbar;
@use '../../modules/shared/components/cryton-log/cryton-log.theme' as log;
@use '../../components/page-unavailable/page-unavailable.theme' as page-unavailable;
@use '../../modules/shared/components/cryton-flat-card/cryton-flat-card.theme' as flat-card;
@use '../../modules/shared/components/cryton-id-chip/cryton-id-chip.theme' as id-chip;
@use '../../modules/run/components/execution-variable/execution-variable.theme' as execution-variable;
@use '../../modules/run/components/execution-variable-uploader/execution-variable-uploader.theme' as
  execution-variable-uploader;
@use '../../modules/shared/components/cryton-code/cryton-code.theme' as cryton-code;
@use '../../modules/shared/components/cryton-inventory-creator/cryton-inventory-creator.theme' as inv-creator;

// CRYTON WORKER THEME
$worker-primary: mat.define-palette(mat.$blue-palette, A200);
$worker-accent: mat.define-palette(mat.$green-palette, 400);
$worker-warn: mat.define-palette(mat.$grey-palette, 600);
$worker-theme: mat.define-light-theme(
  (
    color: (
      primary: $worker-primary,
      accent: $worker-accent,
      warn: $worker-warn
    )
  )
);

@mixin cryton-components-theme($theme) {
  @include cryton-card.color($theme);
  @include cryton-counter.color($theme);
  @include cryton-editor.color($theme);
  @include sidenav.color($theme);
  @include color-getter.color($theme);
  @include cryton-table.color($theme);
  @include file-uploader.color($theme);
  @include scrollbar.color($theme);
  @include datetime-picker.color($theme);
  @include log.color($theme);
  @include page-unavailable.color($theme);
  @include flat-card.color($theme);
  @include id-chip.color($theme);
  @include execution-variable.color($theme);
  @include execution-variable-uploader.color($theme);
  @include cryton-code.color($theme);
  @include inv-creator.color($theme);

  @include worker-table.color($worker-theme);
}
