@use '@angular/material' as mat;
@use './template-creator-theme.scss' as tc;
@use './cryton-components.theme.scss' as components;

$cryton-primary: mat.define-palette(mat.$blue-palette, A400);
$cryton-accent: mat.define-palette(mat.$grey-palette, 50);
$cryton-warn: mat.define-palette(mat.$red-palette, A400);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cryton-primary,
      accent: $cryton-accent,
      warn: $cryton-warn
    )
  )
);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include tc.template-creator-theme($dark-theme);
  @include components.cryton-components-theme($dark-theme);
}
