@import '~@angular/material/theming';
@import './template-creator-theme.scss';
@import './cryton-components.theme.scss';

$cryton-primary: mat-palette($mat-blue, A200);
$cryton-accent: mat-palette($mat-grey, 50);
$cryton-warn: mat-palette($mat-red, A400);
$dark-theme: mat-dark-theme($cryton-primary, $cryton-accent, $cryton-warn);

.dark-theme {
  @include angular-material-color($dark-theme);
  @include template-creator-theme($dark-theme);
  @include cryton-components-theme($dark-theme);
}
