@use '@angular/material' as mat;
@use './template-creator-theme.scss' as tc;
@use './cryton-components.theme.scss' as components;

$cryton-primary: mat.define-palette(mat.$blue-palette, A200);
$cryton-accent: mat.define-palette(mat.$grey-palette, 900);
$cryton-warn: mat.define-palette(mat.$red-palette, A200);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $cryton-primary,
      accent: $cryton-accent,
      warn: $cryton-warn
    )
  )
);

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include tc.template-creator-theme($light-theme);
  @include components.cryton-components-theme($light-theme);
}
