/* MAIN */
p,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* HEADER */
.worker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.worker-header--state {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.worker-header--state > h2 {
  margin-left: 10px;
}

/* RUN ID BOX */
aside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  width: 70px;
  height: 70px;
}
aside > h3 {
  line-height: 16px;
}

/* TABLE */
.worker-table {
  padding: 15px;
}
.worker-table--row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  padding: 12px 7px;
}
.worker-table--row:last-child {
  border-bottom: none;
}
.worker-table--row > b {
  width: 35%;
}
