<app-cryton-card *ngIf="data" [noPadding]="true" [enableAnimation]="false" [noBorder]="true">
  <header [ngClass]="['worker-header', getStateColor(data.state)]">
    <!-- HEADER -->
    <div class="worker-header--state">
      <h2>{{ data.state }}</h2>
    </div>

    <aside [ngClass]="['aside', getStateColor(data.state)]">
      <h3><b>ID:</b> {{ data.id }}</h3>
    </aside>
  </header>

  <!-- TABLE -->
  <div class="worker-table">
    <div class="worker-table--row">
      <b>Name:</b>
      <p [matTooltip]="getTooltip(data.name)" id="name-text">
        {{ data.name | shortString: maxStringLength }}
      </p>
    </div>
    <div class="worker-table--row">
      <b>Address:</b>
      <p [matTooltip]="getTooltip(data.address)" id="address-text">
        {{ data.address | shortString: maxStringLength }}
      </p>
    </div>
    <div class="worker-table--row">
      <b>Q-Prefix:</b>
      <p [matTooltip]="getTooltip(data.q_prefix)" id="q-prefix-text">
        {{ data.q_prefix | shortString: maxStringLength }}
      </p>
    </div>
  </div>
</app-cryton-card>
