<header>
  <div class="header-section">
    <h1>Cryton logs</h1>
    <button mat-icon-button color="accent" (click)="loadPage(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <form class="header-section" [formGroup]="filterForm" (submit)="applyFilter()">
    <button mat-flat-button color="primary" id="apply-button">Apply</button>
    <mat-form-field id="filter-field">
      <mat-label>Filter</mat-label>
      <input type="text" matInput formControlName="filter" />
      <button *ngIf="filterForm.get('filter').value" matSuffix mat-icon-button type="button" (click)="cancelFilter()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </form>
</header>

<mat-divider></mat-divider>

<ng-container *ngIf="!(loading$ | async); else loading">
  <main class="logs-container" *ngIf="logs && logs.count > 0; else noItems">
    <app-cryton-log *ngFor="let log of logs.results" [value]="log"> </app-cryton-log>
  </main>
</ng-container>

<mat-paginator [pageSizeOptions]="pageSizes" [pageSize]="defaultPageSize"></mat-paginator>

<ng-template #noItems>
  <div class="no-items center-both">
    <h2>No results found</h2>
  </div>
</ng-template>

<ng-template #loading>
  <div class="no-items center-both">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
