/* LAYOUT */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 0;
  }
}
.logs-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* HEADER */
.header-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* FILTER */
#filter-field {
  width: 200px;
}

/* PAGINATOR */
mat-paginator {
  background: none !important;
}

/* NO ITEMS */
.no-items {
  height: 300px;
  width: 100%;
}
