@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $warn: map.get($color-config, warn);

  // LINK HIGHLIGHT COLOR
  .page-unavailable--error {
    color: map.get($warn, default);
  }
}
