.page-unavailable {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: center;
}
h1 {
  color: #448aff;
  font-size: 60px;
  font-weight: 700;
}
