@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $foreground: map.get($color-config, foreground);
  $background: map.get($color-config, background);

  .cryton-file-uploader--dropzone.active {
    border: 4px dashed map.get($primary, default);
  }
  .cryton-file-uploader--file {
    background: map.get($background, unselected-chip);
  }
  .cryton-file-uploader--file-size {
    background: map.get($background, app-bar);
    color: map.get($foreground, text);
  }
}
