$form-field-padding: 1.34375em;

/* LAYOUT */
main {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow-y: auto;
  padding-right: 10px;
}
.flex-section {
  width: 100%;
  display: flex;
  align-items: center;
}
.form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}
mat-dialog-content {
  text-align: right;
}
mat-dialog-actions {
  justify-content: right;
  gap: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 16px;
}

/* CONDITION FORM */
mat-form-field {
  font-size: 12px;
  flex: 1;
}

/* BUTTONS */
.cancel-btn {
  height: 44.625px;
  width: 44.625px;
  align-self: center;
  margin-right: 15px;
  margin-bottom: $form-field-padding;
}
.add-btn {
  align-self: flex-end;
  font-size: 12px;
}
.add-btn span {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* PARENT --> CHILD */
.parent-child {
  display: flex;
  align-items: center;
}
.arrow {
  padding: 0 6px;
}
.step {
  display: flex;
  flex-direction: column;
  background: #263238;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 12px;

  span {
    line-height: 15px;
  }

  .step-relation {
    color: rgb(197, 204, 212);
  }
}

mat-form-field.checkbox-field {
  mat-checkbox {
    margin-bottom: 5px;
  }
}
mat-divider {
  margin-bottom: $form-field-padding;
}
