@import '~@angular/material/theming';

@mixin color($config) {
  $config: mat-get-color-config($config);
  $primary: map-get($config, primary);
  $background: map-get($config, background);

  .report-card {
    background: map-get($background, selected-button);
    border-left: 4px solid map-get($primary, default);
  }
  .id-card {
    background: map-get($background, card);

    .id {
      background: map-get($primary, default);
    }
  }
}
