/* HEADER STYLE */
h1,
h2 {
  margin: 0;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: lighter;
}

/* REPORT HEADER */
.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* PLAN EXECUTION HEADER */
.plan-execution-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#paginator {
  background: none;
  padding: 0 !important;
}

/* NO REPORT */
.no-report {
  text-align: center;
}
