@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .cryton-code {
    background: map.get($background, card);
    border: 1px solid map.get($foreground, divider);
  }
}
