@import '~@angular/material/theming';

@mixin color($config) {
  $config: mat-get-color-config($config);
  $background: map-get($config, background);
  $foreground: map-get($config, foreground);

  .cryton-code {
    background: map-get($background, card);
    border: 1px solid map-get($foreground, divider);
  }
}
