header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  h2 {
    margin: 0;
  }

  .buttons {
    button:last-child {
      margin-left: 10px;
    }
  }
}
