@import '~@angular/material/theming';

@mixin color($config) {
  $config: mat-get-color-config($config);
  $background: map-get($config, background);

  .cryton-log--log {
    background: map-get($background, dialog);
  }
}
