<section class="buttons">
  <button mat-button (click)="openHelp()" type="button"><mat-icon color="primary">info</mat-icon> Help</button>
  <button mat-button (click)="eraseParameters()" type="button">
    <mat-icon color="primary">delete</mat-icon> Erase parameters
  </button>
  <button mat-button (click)="navigate.emit(CreateStageComponent.DEP_TREE)" id="build-dep-tree-btn" type="button">
    <mat-icon color="primary">account_tree</mat-icon> Show dependency tree
  </button>

  <ng-container *ngIf="!editedStage; else saveChanges">
    <div [matTooltip]="getCreationErrors()" matTooltipClass="tooltip-error">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="handleCreateStage()"
        [disabled]="isCreationDisabled()"
      >
        <mat-icon>add_circle</mat-icon> Create stage
      </button>
    </div>
  </ng-container>

  <ng-template #saveChanges>
    <button mat-flat-button (click)="handleCancelClick()" type="button" color="warn">
      <mat-icon>close</mat-icon> Cancel
    </button>

    <div [matTooltip]="getCreationErrors()" matTooltipClass="tooltip-error">
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="handleSaveChanges()"
        [disabled]="isCreationDisabled()"
      >
        <mat-icon>save</mat-icon> Save changes
      </button>
    </div>
  </ng-template>
</section>

<main>
  <!-- STAGE PARAMETERS -->
  <div class="flex-section">
    <div class="params-wrapper">
      <div class="stage-params cryton-scrollbar">
        <h5>STAGE PARAMETERS</h5>
        <app-stage-parameters
          *ngIf="parentDepTree?.treeNodeManager"
          [stageForm]="stageForm"
          [nodeManager]="parentDepTree.treeNodeManager"
        ></app-stage-parameters>
      </div>
    </div>
  </div>

  <mat-divider [vertical]="true" class="hideable"></mat-divider>

  <!-- EXECUTION TREE PREVIEW -->
  <div class="flex-section hideable">
    <div class="tree-preview-wrapper">
      <h5 id="tree-preview-header">TREE PREVIEW</h5>
      <div #container id="stage-creator--tree-preview"></div>
    </div>
  </div>
</main>
