@import '~@angular/material/theming';

@mixin color($config) {
  $config: mat-get-color-config($config);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  .theme-color-getter--primary {
    background: map-get($primary, default);
  }
  .theme-color-getter--accent {
    background: map-get($accent, default);
  }
  .theme-color-getter--warn {
    background: map-get($warn, default);
  }
}
