<main class="tc-responsive-page" *ngIf="!(creating$.asObservable() | async); else spinner">
  <div class="tc-responsive-page" [@verticalSlide]="getAnimationState()">
    <section class="create-button-wrapper">
      <app-cryton-button icon="info" value="Help" (clicked)="openHelp()"></app-cryton-button>
      <app-cryton-button
        icon="add_circle"
        value="Create template"
        color="primary"
        (click)="createTemplate()"
        [disabled]="isCreationDisabled()"
        [matTooltip]="getCreationErrors()"
        matTooltipClass="tooltip-error"
      ></app-cryton-button>
    </section>

    <section class="main-content tc-responsive-container">
      <div class="content-wrapper">
        <h5>TEMPLATE PARAMETERS</h5>
        <form [formGroup]="templateForm">
          <mat-form-field appearance="fill">
            <mat-label>Template name</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error>Template name is required.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Owners name</mat-label>
            <input matInput type="text" formControlName="owner" />
            <mat-error>Template owner is required.</mat-error>
          </mat-form-field>
        </form>

        <div class="buttons">
          <button mat-flat-button color="primary" (click)="showDepTree()">Show dependency tree</button>
          <button mat-flat-button color="primary" (click)="showTimeline()">Show timeline</button>
        </div>
      </div>
    </section>
  </div>

  <!-- Portal outlet for rendering content below build template tab. -->
  <div class="tc-responsive-page" [@verticalSlide]="getAnimationState()">
    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
  </div>

  <ng-template #depTreePortalContent>
    <app-dependency-tree-editor
      (swapPages)="showBuildTemplate()"
      [depTreeRef]="templateDepTreeRef"
      nodeName="stage"
    ></app-dependency-tree-editor>
  </ng-template>

  <ng-template #timelinePortalContent>
    <app-timeline (swapPages)="showBuildTemplate()"></app-timeline>
  </ng-template>
</main>

<ng-template #spinner>
  <div class="tc-responsive-page center-both spinner-container">
    <mat-spinner [diameter]="150"></mat-spinner>
    <h2>CREATING TEMPLATE</h2>
  </div>
</ng-template>
