/* LAYOUT */
main {
  overflow: hidden;
}
.build-template {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  width: 320px;
}
.create-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.buttons {
  display: flex;
  justify-content: space-between;
}

/* BODY */
mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

/* SPINNER */
.spinner-container {
  flex-direction: column;
  gap: 10px;
}
