<main class="tc-responsive-page">
  <div class="tc-responsive-page" [@verticalSlide]="getAnimationState()">
    <app-stage-creator (swapPages)="showDepTree()" #stageCreator></app-stage-creator>
  </div>

  <!-- Portal outlet for rendering content below build template tab. -->
  <div class="tc-responsive-page" [@verticalSlide]="getAnimationState()">
    <ng-template [cdkPortalOutlet]="selectedPortal"></ng-template>
  </div>

  <ng-template #depTreePortalContent>
    <app-dependency-tree-editor
      (swapPages)="showStageCreation(); stageCreator.detectChanges()"
      [depTreeRef]="depTreeRef"
      [nodeName]="'step'"
    ></app-dependency-tree-editor>
  </ng-template>
</main>
