<main [ngSwitch]="currentComponent">
  <div *ngSwitchCase="CreateStageComponent.STAGE_PARAMS">
    <app-stage-creator (navigate)="currentComponent = CreateStageComponent.DEP_TREE" #stageCreator></app-stage-creator>
  </div>
  <div *ngSwitchCase="CreateStageComponent.DEP_TREE">
    <app-dependency-tree-editor
      (navigate)="currentComponent = $event"
      [depTreeRef]="depTreeRef"
      [navigationButtons]="depTreeNavigationBtns"
      [nodeName]="'step'"
    ></app-dependency-tree-editor>
  </div>
  <div *ngSwitchDefault></div>
</main>
